<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    
    <title>Vue JS</title>
</head>
<body>
   


   
   <div id="app">
           
    <!-- name change -->
      <!-- <h1 >{{name}}</h1>
      <button v-on:click="getUpdateName">Change it</button> -->


      <!-- X-axis Y-axis -->
      <!-- <div v-on:mousemove="updateCoor" class="box">
        Hoover It
     </div>
     <p>X:{{x}}</p>
     <p>Y:{{y}}</p> -->



     <form v-on:submit.prevent="handleForm">
        <label>First Name: </label>
        <input type="text" v-model="formData.firstName">

        <hr>
        <label>Last Name: </label>
        <input type="text" v-model="formData.lastName">

        <hr>
        <button type="submit">Submit</button>
     </form>


     

   </div>




 



    <script src="script/script.js"></script>
    



</body>
</html>